html body{
    background-color: #5a5dd6;
    margin: 0%;
    padding: 0%;
}

.tabmanu{
    background-color: #3b3d86;
}

.manu{
    padding: 2%;
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
}

.brand{
    text-align: center;
}

.main_box{
    position: relative;
    text-align: center;
    height: 100%;
}

.div_box{
    text-align: center;
    border-radius: 25px; /*มุมมน*/
    width: 27%;
    height: 50%; 
    background-color:#ffff;
    margin: 5% 2%;
    padding: 3%;
    display: inline-block;
}

.icon{
    width: 70%;
}

.button{
    color:aliceblue;
    background-color: #db4939;
    padding: 5%;
    width: 50%;
    text-decoration: none; /*เอาเส้นใต้ข้อความออก*/
    display: inline-block; /*ไม่จองทั้งบรรทัด*/
    
}

.text{
    margin: 0 auto;
    padding: 3%;
    text-align: center;
    position: relative;
}

.pic1{
    width: 8%;
    display: inline-block;
}

.text1{
    color: aliceblue;
    font-size: 20px;
}

.text2{
    color: #fcd53d;
    font-size: 40px;
}

.text_fixed{
    position: sticky;
    right: 2%;
    bottom: 1%;
    text-align:right;
}

.text_fix1{
    width: 30%;
    padding: 1%;
}

.text_fix2{
    width: 15%;
    left: 0%;
}

.low_footer{
    color: aliceblue;
    background-color: #3b3d86;
    padding: 3%;
}


